@font-face {
	src: url('fonts/PoppinsReg.ttf');
	font-family: 'Poppins';
	font-weight: 400;
}

@font-face {
	src: url('fonts/PoppinsLight.ttf');
	font-family: 'Poppins';
	font-weight: 300;
}

@font-face {
	src: url('fonts/PoppinsSem.ttf');
	font-family: 'Poppins';
	font-weight: 600;
}

@keyframes button-animation {
	0% {
		border: 2px solid #c5c6e8;
        background: linear-gradient(50deg, #c5c6e8, #272ae3);
        color: #ffffff;
	}
	100% {
		border: 2px solid #e9a1ed;
		background: linear-gradient(50deg, #e9a1ed, #b910c2);
	    color: #000000;
	}

}

@keyframes title-animation{
  0%{
      transform: translate(0, 0) scale(0.5);
  }

  100%{
      transform: translate(210px, 90px) scale(1.5);
  }
}

.title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 4.78px;
}

.name {
    max-width: 100px;
    animation: title-animation 5s infinite;
}

.links {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	width: 255px;
	list-style: none;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2.8;
	letter-spacing: 2.87px;
	padding: 10px 40px 0 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 0 40px;
}

.link {
	text-decoration: none;
	color: #000000;
}

.subtitle {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 0.9;
	letter-spacing: 2px;
}

.header-container {
	position: absolute;
	padding: 140px 0 0 35px;
}

.about {
	font-size: 12px;
	margin: 32px 0 0 0;
	line-height: 1.6;
	letter-spacing: 0.48px;
	max-width: 400px;
}

.button {
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	border: 2px solid #ffffff;
	background: transparent;
	border-radius: 20px;
	width: 195px; 
	height: 41px;
	margin: 40px 5px 0 0;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2.8;
	letter-spacing: 2.87px;
	animation: button-animation 5s infinite ease-in-out;
}

.header {
	background-image: url("images/header@2x.jpg");
	height: 714px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.portfolio-image {
	width: 308px;
	height: 340px;
	margin: 40px 0 50px 0;
}

.subtitle-small {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.48px;
}

.years {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.48px;
}

.aboutme {
	display: flex;
	margin: 0 0 0 35px;
}

.about-me-container {
	display: flex;
	margin: 30px 0 0 55px;
}

.aboutme-text {
	max-width: 500px;
	padding: 0 10px 0 0;
}

.row {
	display: flex;
	margin: 35px 0 0 55px;
}

.column {
	flex: 50%;
	max-width: 250px;
    margin: 0 135px 0 0;
}

.otstup {
	padding: 40px;
}

.works {
	background: #d1bac8;
	margin: 50px 0 0 0;
	height: 450px;
}

.latest-works {
	text-align: center;
	padding: 45px 0 0 0;
}

.images {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 20px 15px 50px 25px;
}

.work-image {
	width: 364px;
	height: 234px;
}

.portfolio-item {
	position: relative;
	height: 234px;
}

.portfolio-item:hover {
	cursor: pointer;
}
.portfolio-item:hover .portfolio-hover {
	opacity: 1;
}

.portfolio-item:hover::before {
	opacity: 1;
}

.portfolio-item::before {
	content:'';
	background: rgba(255, 255, 255, 0.5);
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 2s;
}

.portfolio-hover {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-left: 39px;
	padding-bottom: 17px;
	opacity: 0;
	transition: all 2s;
}

.portfolio-link {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.48px;
}

.portfolio-hover-text {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 3px;
}

.input, .textarea {
	border: none;
	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	line-height: 2.8;
	letter-spacing: 2.16px;
	width: 363px;
    height: 30px;
    margin: 35px 0 0 0;
}

.message {
	height: 172px;
}

.input:focus {
	outline: none;
}

.textarea:focus {
	outline: none;
}

.main-section {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	height: 248px;
}

.form-section {
	display: flex;
}

.form-column {
	padding: 30px;
}

.form-button {
	text-align: center;
	margin: 0 0 40px 40px;
}

.send {
	width: 218px;
    height: 44px;
}

