@font-face {
	src: url('fonts/PoppinsReg.ttf');
	font-family: 'Poppins';
	font-weight: 400;
}

@font-face {
	src: url('fonts/PoppinsLight.ttf');
	font-family: 'Poppins';
	font-weight: 300;
}

@font-face {
	src: url('fonts/PoppinsSem.ttf');
	font-family: 'Poppins';
	font-weight: 600;
}


@keyframes title-animation{
	0%{
		transform: translate(0, 0) scale(1);
	}

	100%{
		transform: translate(210px, 90px) scale(1.5);
	}
}

.title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 4.78px;
	max-width: 100px;
	animation: title-animation 5s infinite;
}

.links {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	width: 255px;
	list-style: none;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2.8;
	letter-spacing: 2.87px;
	padding: 10px 40px 0 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 0 40px;
}

.link {
	text-decoration: none;
	color: #000000;
}

.subtitle {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 0.9;
	letter-spacing: 3px;
	margin: 0;
}

.header-container {
	padding: 160px 0 0 35px;
}

.about {
	font-size: 12px;
	margin: 27px 0 0 0;
	line-height: 1.6;
	letter-spacing: 0.48px;
	max-width: 400px;
}

.button {
	color: #ffffff;
	background: transparent;
	font-size: 12px;
	text-align: center;
	border-radius: 20px;
	margin: 40px 7px 0 0;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2.8;
	letter-spacing: 4px;
}

.button:hover {
	cursor: pointer;
	border: 2px solid #ffffff;
	background: #ffffff;
	color: #6a4a4c;
	opacity: 0.7;
}

.send:hover {
	border: 2px solid #000000;
}

.button:not(.send) {
	width: 195px; 
	height: 41px;
	border: 2px solid #ffffff;
}

.header {
	background-image: url("images/header@2x.jpg");
	height: 714px;
	background-repeat: no-repeat;
	background-size: cover;
}

.portfolio-image {
	width: 308px;
	height: 340px;
	margin: 25px 0 50px 0;
}

.subtitle-small {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.5px;
	margin: 0;
}

.fix1 {
	margin: 24px 0 4px 0;
}

.fix2 {
	margin: 0 0 12px 0;
}

.fix3 {
	margin: 20px 0 4px 0;
	max-width: 140px;
}

.fix4 {
	margin: 0 0 5px 0;
}

.fix5 {
	margin: 0 0 7px 0;
}

.profession {
	text-transform: lowercase;
}

.years {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.48px;
}

.aboutme {
	display: flex;
	margin: 15px 0 0 37px;
}

.about-me-container {
	display: flex;
	margin: 30px 0 0 55px;
}

.aboutme-text {
	max-width: 500px;
	padding: 0 10px 0 0;
}

.row {
	display: flex;
	margin: 25px 0 0 55px;
}

.column {
	flex: 50%;
	max-width: 250px;
	margin: 24px 130px 0 0;
}

.otstup {
	padding: 40px;
}

.works {
	background: #d1bac8;
	margin: 57px 0 0 0;
	padding: 0 0 18px 0;
}

.latest-works {
	text-align: center;
	padding: 57px 0 0 0;
}

.images {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 42px 0 50px 5px;
	max-width: 1150px;
	margin: 0 auto;
}

.work-image {
	width: 364px;
	height: 234px;
}

.portfolio-item {
	position: relative;
	height: 234px;
}

.portfolio-item:hover {
	cursor: pointer;
}

.portfolio-item:hover .portfolio-hover {
	opacity: 1;
}

.portfolio-item:hover::before {
	opacity: 1;
}

.portfolio-item::before {
	content:'';
	background: rgba(255, 255, 255, 0.5);
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 2s;
}

.portfolio-hover {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0 0 15px 40px;
	opacity: 0;
	transition: all 2s;
}

.portfolio-link {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.4px;
}

.portfolio-hover-text {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 3px;
}

.drop-me {
	text-align: center;
	padding: 35px 0 0 0;
}

.input, .textarea {
	border: none;
	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	line-height: 2.8;
	letter-spacing: 2.16px;
	width: 358px;
	height: 30px;
	margin: 29px 0 0 5px;
}

.message {
	height: 164px;
}

.input:focus {
	outline: none;
}

.textarea:focus {
	outline: none;
}

.main-section {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
}

.form-section {
	display: flex;
}

.form-column {
	padding: 43px 26px 0 30px;
}

.form-message{
	padding: 39px 10px 0 15px;
}

.form-button {
	text-align: center;
	margin: 5px 0 42px 45px;
}

.send {
	width: 210px;
	height: 40px;
	border: 2px solid #000000;
	background: #000000;
}

